# Laravel
/vendor
/node_modules
/.env
/storage/*.key
/.idea
/.vscode
/public/storage
/storage/*.log
/bootstrap/cache/*.php

# Next.js
/frontend/node_modules
/frontend/.next
/frontend/out
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.production.local
/frontend/.env.test.local

# System
.DS_Store
Thumbs.db
